/***********
	Contact
 **********/
  .gform_body{
  	.gf-section{
  		border: none!important;
  	}
  	.gfield_label{
  		display: none!important;
  	}
  	span label {
  		display: none!important;
  	}
  	.gf-initial {
  		width: 25%;
  		display: inline-block;
  		ul li {
  			display: inline-block;
  		}

  	}
  	.gf-name{
  		width: 75% !important;
  		display: inline-block;
  	}

  	.gf-address{
  		width: 100% !important;
  		.address_line_1{
  			width: 50% !important;
  			display: inline-block;
  		}
  		.address_line_2{
  			width: 25% !important;
  			display: inline-block;
  		}
  		.address_city{
  			width: 25% !important;
  			display: inline-block;
  			margin-right: 0 !important;
  		}
  		.address_zip{
  			width: 25% !important;
  			display: inline-block;
  		}
  		.address_country{
  			width: 25% !important;
  			display: inline-block;
  		}
  	}

  	.gf-phone-1{
  		width: 25% !important;
  		display: inline-block;
  	}
  	.gf-phone-2{
  		width: 25% !important;
  		display: inline-block;
  	}
  	.gf-phone-3{
  		width: 25% !important;
  		display: inline-block;
  	}

  	.gf-email{
  		width: 75% !important;
  	}
  }