/*--------------------------------------------------------------
## Hard-coded
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## pages
--------------------------------------------------------------*/
@import "pages";
/*------------------------------------------------------------*/

@media (max-width: 1100px){

	.site-logo img {
		max-width: 75%;
	}

	.site-header .form-area .emergency-form h4 {
		font-size: 16px;
		margin-top: 10px;
		padding-left: 8px;
	}

	.site-header .form-area .emergency-form button {
		font-size: 10px;
		padding: 12px 14px;
		margin-top: 4px;
	}

	.main-navigation #header-menu-con-id #header-menu-id > li > a {
		font-size: 15px;
	}

	.main-navigation #header-menu-con-id #header-menu-id > .menu-item-has-children > .sub-menu li a {
		font-size: 15px;
	}

	.main-navigation #header-menu-con-id #header-menu-id > .menu-item-has-children > .sub-menu li .sub-menu li a {
		font-size: 14px;
	}

	.get-started h2 {
		font-size: 25px;
	}

	.get-started .feature .blooks .feature-text {
		font-size: 18px;
		padding: 17px 0;
	}
.get-started .feature .blooks .feature-icons {
    zoom: 0.80;
}

	.affiliation-logos h2 {
		font-size: 25px;
	}

#company-logo-slider {
    max-width: 800px;
}


	footer#colophon .informations .content-holder-half > div > div h4 {
		font-size: 16px;
		letter-spacing: 0.6px;
	}

	footer#colophon .informations .content-holder-half > div > div button {
		padding: 13px 25px;
		font-size: 13px;
	}

}

@media (max-width: 991px){

.site-header .form-area .emergency-form {
    padding: 8px 7px;
}

.site-header .form-area .emergency-form h4 {
    font-size: 13px;
    margin-top: 10px;
    padding-left: 0px;
}

.site-header .form-area .emergency-form button {
    font-size: 10px;
    padding: 9px 4px;
    margin-top: 4px;
}
.site-header .logo-area {
    padding: 19px 0 26px 6px;
}
.main-navigation #header-menu-con-id #header-menu-id > li > a {
    font-size: 13px;
}

#header-menu-id > li > a {
    font-size: 13px;
    padding: 10px 15px;
}

.main-navigation #header-menu-con-id #header-menu-id > .menu-item-has-children > .sub-menu li a {
    font-size: 14px;
}
.main-navigation #header-menu-con-id #header-menu-id > .menu-item-has-children > .sub-menu li .sub-menu li a {
    font-size: 13px;
}
.get-started .feature .blooks .feature-icons {
    zoom: 0.60;
}
.get-started .feature .blooks .feature-text {
    font-size: 14px;
    padding: 10px 0;
}
.get-started h2 {
    font-size: 20px;
}
.affiliation-logos h2 {
    font-size: 20px;
}

#company-logo-slider {
    max-width: 650px;
}

footer#colophon .informations .content-holder-half {
    padding: 46px 0 110px;
}
footer#colophon .informations .content-holder-half > div > div h4 {
    font-size: 14px;
    letter-spacing: 0px;
}

footer#colophon .informations .content-holder-half > div > div p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
footer#colophon .informations .content-holder-half > div > div ul li {
    margin-top: 4.5px;
    letter-spacing: 1px;
    font-size: 12px;
}

}

@media (min-width: 768px) and (max-width: 799px){
.site-logo img {
    max-width: 70%!important;
}

}

@media (max-width: 799px){
.site-header .form-area {
    display: none;
}
.site-logo img {
    max-width: 35%;
}
.site-header .logo-area {
    padding: 15px 0 15px 0px;
}
.header-menus {
    display: none;
}
#company-logo-slider {
    max-width: 600px;
}

footer#colophon .informations .content-holder-half {
    float: none;
    padding: 37px 0 70px;
}
.location-map {
    display: none;
}

}

@media (max-width: 650px){
.get-started .feature .blooks .feature-icons {
    zoom: 0.87;
}
#company-logo-slider {
    max-width: 450px;
}

}

@media (max-width: 500px){
.get-started .feature .blooks .feature-icons {
    zoom: 0.80;
}
#company-logo-slider {
    max-width: 450px;
}
.affiliation-logos .col-xs-12:nth-of-type(1){
	display: none;
}
.affiliation-logos .col-xs-12:nth-of-type(2){
	display: block;
}
}