footer#colophon {
    position: relative;
    font-size: 13px;
    .container {
        width: 100%!important;
    }
    .informations{
        background-color: #403f40;
.content-holder-half {
    float: right;
}
        .contact-info{
            float: left;
            color: #ffffff;
        }
        .quick-links{
             float: left;
        }
    }



}
@media (max-width: 991px){
    footer#colophon{

    }
}