footer#colophon {
    position: relative;
    font-size: 13px;
    .container {
        width: 100%!important;
    }
    .informations{
        & > div{
             float: left;
        }
    }



}
@media (max-width: 991px){
    footer#colophon{

    }
}